// Body
$body-bg: #ece6e6;
$bg-white: #1E2132;
$primary: #0cf0bb;
$danger: #1E2132;
$secondary: #e6ac0e;
$tertiary: #000000; 
$error: #b34d4d; 
$bg-body: #000000;
// Typography

// $font-family-sans-serif: 'albert-sans:400', sans-serif;
$font-family-sans-serif: 'Share Tech Mono';
$font-size-base: 0.9rem;
$line-height-base: 1.6;

//titles
$display-font-sizes:(
    1: 1.1rem,
    2: 2.1rem
);
$display-font-weight: 300; 